/**************************TAG SELECTORS**************************/
/*
Bypass default margins by manually setting them.
Set to 0 to fill out the area of the div.
*/
h1 {
    margin: 0;
  }
  
  body {
    background-color: pink; /* Change the background color to pink */
    margin: 0;
  }

  body {
    background-color: rgb(229, 191, 208);
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}
  
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: purple;
    border-width: 5px;
    width: 3%;
  }
  
  div {
    background-color: #a4ebf3;
  }
  
  /**************************CLASS SELECTORS**************************/